<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.visualizer.ui.visualizer">
      <visualizer
            class="org.eclipse.tracecompass.internal.dsf.ui.visualizer.TraceMulticoreVisualizer"
            id="org.eclipse.tracecompass.dsf.ui.visualizer">
      </visualizer>
   </extension>
   
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Local application launch tabs-->
      <tab
            id="org.eclipse.tracecompass.dsf.ui.localApplicationLaunch.traceTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="Tracing"
            class="org.eclipse.tracecompass.internal.dsf.ui.TracingTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement
              after="org.eclipse.debug.ui.commonTab">
        </placement>
      </tab>
      <!-- Core file launch tabs-->
      <tab
            id="org.eclipse.tracecompass.dsf.ui.coreApplicationLaunch.coreTraceTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="Tracing"
            class="org.eclipse.tracecompass.internal.dsf.ui.CoreTracingTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
        <placement
              after="org.eclipse.debug.ui.commonTab">
        </placement>
      </tab>
   </extension>   

</plugin>
